<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.independence.property.mapper.RentTransactionMapper">

    <insert id="insert" parameterType="com.team.independence.property.domain.RentTransaction">
        INSERT IGNORE INTO rent_transaction (
            region_code, housing_type, dong_name, jibun, complex_name,
            area, deal_type, deposit, monthly_rent, floor, build_year,
            deal_ym, deal_day, contract_type, contract_term, dedup_key, json
        ) VALUES (
            #{regionCode}, #{housingType}, #{dongName}, #{jibun}, #{complexName},
            #{area}, #{dealType}, #{deposit}, #{monthlyRent}, #{floor}, #{buildYear},
            #{dealYm}, #{dealDay}, #{contractType}, #{contractTerm}, #{dedupKey}, #{json}
        )
    </insert>

    <insert id="insertBatch" parameterType="list">
        INSERT IGNORE INTO rent_transaction (
            region_code, housing_type, dong_name, jibun, complex_name,
            area, deal_type, deposit, monthly_rent, floor, build_year,
            deal_ym, deal_day, contract_type, contract_term, dedup_key, json
        ) VALUES
        <foreach collection="list" item="r" separator=",">
        (
            #{r.regionCode}, #{r.housingType}, #{r.dongName}, #{r.jibun}, #{r.complexName},
            #{r.area}, #{r.dealType}, #{r.deposit}, #{r.monthlyRent}, #{r.floor}, #{r.buildYear},
            #{r.dealYm}, #{r.dealDay}, #{r.contractType}, #{r.contractTerm}, #{r.dedupKey}, #{r.json}
        )
        </foreach>
    </insert>

</mapper>
