<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.independence.asset.mapper.ConnectedInstitutionMapper">

    <insert id="insert" parameterType="com.team.independence.asset.domain.ConnectedInstitution">
        INSERT INTO connected_institution (connected_account_id, institution_code, status)
        VALUES (#{connectedAccountId}, #{institutionCode}, 'ACTIVE')
    </insert>

</mapper>
